{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CarbonIQ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/authapp.css' %}">
    <style>
        body{background-image: url('{% static "images/login.jpg" %}');}
    </style>
</head>
<body>
    {% comment %} <div style="position: absolute; top: 20px; right: 20px;">
        <a href="{% url 'adminlogin' %}" class="admin-login-button">Admin Login</a>
    </div>     {% endcomment %}
    <div class="container">
        <div class="logo">
            <div id="logocircle"><img src="{% static 'images/logo.png' %}" alt="CarbonIQ"></div>
            <span>CarbonIQ</span>
        </div>
        {% block content %}
        {% endblock %}
        <div id="bottombg">
            <div id="bottomcurve">
                {% block bottom %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>